* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-icon {
  border-radius: 50%;
  margin-top: 1vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Form Container Styling */
.form-container {
  margin: 20px auto;
  padding: 10px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  width: 100%;
}

input {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 75%;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}


body {
  background: #1a1a1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  padding: 5px 10px;
  color: #f1f1f1;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(8px); /* Adds a blur effect to the background */
}


#home-icon {
  height: 50px;
  width: 50px;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for smaller icons */
  gap: 20px; /* Adds space between the grid items */
  margin: 20px;
}

.game {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; /* The width will expand as needed */
  height: auto; /* Adjust the height automatically */
  overflow: hidden; /* Ensure no overflow */
  border-radius: 15px; /* Slightly more rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Add shadow to give depth */
  transition: transform 0.2s; /* Add transition for scaling effect */
}

.game:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

#vlol, #superMario64, #superMarioBros, #subwaySurfers, #stack, #stickmanHook, #dogeMiner, #flappyBird, #crossyRoad, #geometryDash, #slope, #bitLife, #dinoGame, #doodleJump, #driftBoss, #wbwwb, #doom, #worldguesser, #tilegame, #basketstars, #rtrobowl, #snowrider, #maskedforces, #amongus, #motoxm, #motoxm2, #motoxmwinter, #motoxmpoolparty, #motoxmspookyland, #littlealchemy, #madalinstuntcars2, #fnaf2, #madalinstuntcars3, #ocarinaoftime, #gtaadvance, #pokemonfirered, #drive-mad, #vex3, #vex4, #vex5, #vex6, #vex7 {
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image in the container */
  background-repeat: no-repeat;
  width: 100%; /* Width is 100% of the container */
  height: 0;
  padding-bottom: 100%; /* Maintain a perfect square aspect ratio */
}

#vlol {
  background-image: url('images/1v1lol.webp'); /* Correct image path */
}

#superMario64 {
  background-image: url('images/mario64.webp'); /* Correct image path */
}

#superMarioBros {
  background-image: url('images/super-mario-bros.webp'); /* Correct image path */
}

#subwaySurfers {
  background-image: url('images/subway-surfers.webp');
}

#stickmanHook {
  background-image: url('images/stickman.jpg');
}

#stack {
  background-image: url('images/stack.avif');
}

#dogeMiner {
  background-image: url('images/dogeminer.png');
}

#flappyBird {
  background-image: url('images/flappy-bird.jpg');
}

#crossyRoad {
  background-image: url('images/crossyroad.avif');
}

#geometryDash {
  background-image: url('images/geometrydash.png');
}

#slope {
  background-image: url('images/slope.jpg');
}

#bitLife {
  background-image: url('images/bitlife.png');
}

#dinoGame {
  background-image: url('images/dino-game.webp');
}

#doodleJump {
  background-image: url('images/doodleapp.png');
}

#driftBoss {
  background-image: url('images/driftboss.png');
}

#wbwwb {
  background-image: url('images/wbwwb.avif');
}

#thelegendofzelda {
  background-image: url(images/thelegendofzelda.jpg);
}

#doom {
  background-image: url('images/doom.png');
}

#worldguesser {
  background-image: url('images/worldguesser.jpeg');
}

#tilegame {
  background-image: url('images/2048.png');
}

#basketstars {
  background-image: url('images/basketstars.png');
}

#rtrobowl {
  background-image: url('images/retrobowl.png');
}

#snowrider {
  background-image: url(images/snowrider.png);
}

#maskedforces {
  background-image: url(images/maskedforces.png);
}

#amongus {
  background-image: url(images/amongus.png);
}

#motoxm {
  background-image: url(images/motox3m.png);
}

#motoxm2 {
  background-image: url(images/motox3m2.png);
}

#motoxmwinter {
  background-image: url(images/motox3mwinter.png);
}

#motoxmpoolparty {
  background-image: url(images/motox3mpoolparty.png);
}

#motoxmspookyland {
  background-image: url(images/motox3mspookyland.png);
}

#littlealchemy {
  background-image: url(images/littlealchemy.png);
}

#madalinstuntcars2 {
  background-image: url(images/madalinstuntcars2.png);
}

#madalinstuntcars3 {
  background-image: url(images/madalinstuntcars3.png);
}

#fnaf2 {
  background-image: url(images/fnaf2.png);
}

#ocarinaoftime {
  background-image: url(images/ocarinaoftime.png);
}

#gtaadvance {
  background-image: url(images/gtaadvance.png);
}

#pokemonfirered {
  background-image: url(images/pokemonfirered.png);
}

#drive-mad {
  background-image: url(images/drive-mad.jpg);
}

#vex3 {
  background-image: url(images/vex3.png);
}

#vex4 {
  background-image: url(images/vex4.png);
}

#vex5 {
  background-image: url(images/vex5.png);
}

#vex6 {
  background-image: url(images/vex6.png);
}

#vex7 {
  background-image: url(images/vex7.png);
}

.play-icon {
  opacity: 0;
  transition: opacity 0.6s;
  width: 40px; /* Reduced size for the play icon */
  height: 40px; /* Set height equal to width for uniformity */
  position: absolute; /* Ensure the icon is positioned over the game */
  top: 50%; /* Center the play icon vertically */
  left: 50%; /* Center the play icon horizontally */
  transform: translate(-50%, -50%); /* Aligns the icon to the center of the game */
}

.game:hover .play-icon {
  opacity: 1; /* Make the play icon visible when hovering over the game */
}
