* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(grey, white);
  text-align: center;
  align-items: center;
  height: 50px;
}

#home-icon {
  height: 50px;
  width: 50px;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for smaller icons */
  gap: 20px; /* Adds space between the grid items */
  margin: 20px;
}

.game {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; /* The width will expand as needed */
  height: auto; /* Adjust the height automatically */
  overflow: hidden; /* Ensure no overflow */
  border-radius: 15px; /* Slightly more rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Add shadow to give depth */
  transition: transform 0.2s; /* Add transition for scaling effect */
}

.game:hover {
  transform: scale(1.05); /* Scale up slightly on hover */
}

#vlol, #superMario64, #superMarioBros, #subwaySurfers, #stack, #stickmanHook, #dogeMiner, #flappyBird, #crossyRoad, #geometryDash, #slope, #bitLife, #dinoGame, #doodleJump, #driftBoss, #wbwwb, #doom, #worldguesser, #tilegame {
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image in the container */
  background-repeat: no-repeat;
  width: 100%; /* Width is 100% of the container */
  height: 0;
  padding-bottom: 100%; /* Maintain a perfect square aspect ratio */
}

#vlol {
  background-image: url('images/1v1lol.webp'); /* Correct image path */
}

#superMario64 {
  background-image: url('images/mario64.webp'); /* Correct image path */
}

#superMarioBros {
  background-image: url('images/super-mario-bros.webp'); /* Correct image path */
}

#subwaySurfers {
  background-image: url('images/subway-surfers.webp');
}

#stickmanHook {
  background-image: url('images/stickman.jpg');
}

#stack {
  background-image: url('images/stack.avif');
}

#dogeMiner {
  background-image: url('images/dogeminer.png');
}

#flappyBird {
  background-image: url('images/flappy-bird.jpg');
}

#crossyRoad {
  background-image: url('images/crossyroad.avif');
}

#geometryDash {
  background-image: url('images/geometrydash.png');
}

#slope {
  background-image: url('images/slope.jpg');
}

#bitLife {
  background-image: url('images/bitlife.png');
}

#dinoGame {
  background-image: url('images/dino-game.webp');
}

#doodleJump {
  background-image: url('images/doodleapp.png');
}

#driftBoss {
  background-image: url('images/driftboss.png');
}

#wbwwb {
  background-image: url('images/wbwwb.avif');
}

#thelegendofzelda {
  background-image: url(images/thelegendofzelda.jpg);
}

#doom {
  background-image: url('images/doom.png');
}

#worldguesser {
  background-image: url('images/worldguesser.jpeg');
}

#tilegame {
  background-image: url('images/2048.png');
}

.play-icon {
  opacity: 0;
  transition: opacity 0.6s;
  width: 40px; /* Reduced size for the play icon */
  height: 40px; /* Set height equal to width for uniformity */
  position: absolute; /* Ensure the icon is positioned over the game */
  top: 50%; /* Center the play icon vertically */
  left: 50%; /* Center the play icon horizontally */
  transform: translate(-50%, -50%); /* Aligns the icon to the center of the game */
}

.game:hover .play-icon {
  opacity: 1; /* Make the play icon visible when hovering over the game */
}
